@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root,body{
  min-height: 100vh;
  background-color: #eeece2;
  font-family: "Space Grotesk", sans-serif;
}
/* header{
  margin: 0 auto;
  position: sticky;
  top: 1.5%;
  width: 88%;
}
.top-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  width: 100%;
}
.logo{
  width: 120px;
}
.nav-items > ul{
  list-style: none;
  display: flex;
  gap: 2.5rem;
}
li a{
  font-size: 1.1rem;
  text-decoration: none;
  color: #313638;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}
*/



/* HEADER COMPONENT */
.nav-items{
  display: flex;
  margin: 1.3rem 7rem;
  color: #a4500b;
  font-weight: 300;
}
@media screen and (max-width: 500px) {
  .nav-items {
    margin: 0.5rem 2rem;
    font-size: 0.8rem;
  }
}
/* HEADER COMPONENT */

/* BODY COMPONENT */
.day-status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 7rem;
  margin-right: 10.5rem;
}
.calendar-icon{
  width: 30px;
}
.task-container{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.task-logo{
  width: 30px;
}
.task-list{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 7rem;
  padding: 1.2rem 1.5rem;
  border-radius: 16px;
  box-shadow: #ffffff 0px 2px 8px 0px;
  background-color: hsl(16 53.8% 47.5% / 1);
  color: #eeece2;
}
.task-descript{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}
.checkbox-custom{
  padding: 0.5rem;
}