@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root,body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eeece2;
  font-family: "Space Grotesk", sans-serif;
}

/* HEADER COMPONENT */
.nav-items{
  display: flex;
  margin-left: 8.8rem;
  margin-top: 1.1rem;
  color: #a4500b;
  font-weight: 300;
}
@media screen and (max-width: 500px) {
  .nav-items {
    margin: 0.5rem 2rem;
    font-size: 1rem;
  }
}
/* HEADER COMPONENT */

/* BODY COMPONENT */
.day-status{
  display: flex;
  justify-content: space-between;
  margin: 1.8rem 8.8rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.calendar-icon{
  width: 30px;
}
.task-container{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  height: 60vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 2px;
}
.task-logo{
  width: 40px;
}
.task-list{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
  border-radius: 16px;
  box-shadow: #ffffff 0px 2px 8px 0px;
  background-color: hsl(16 53.8% 47.5% / 1);
  color: #eeece2;
}
.task-descript{
  display: flex;
  gap: 1.4rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  #root,body{
    overflow-x: hidden;
  }
  .day-status{
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 2rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }
  .task-list{
    padding: 0.3rem 0.8rem;
  }
  .task-container{
    gap: 0.8rem;
  }
  .task-descript{
    gap: 1rem;
    font-size: 1.3rem;
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type=checkbox] {
    --active: hsl(16 53.8% 47.5% / 1);  
    --active-inner: #ffffff;
    --focus: 2px rgb(229, 181, 127);
    --border: #fff;
    --border-hover: #fefefe;
    --background: #fff;
    --checked-background: #e2a572;
    --disabled: #f2f3f5;
    --disabled-inner: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 18px;
    width: 18px;
    padding: 0.9rem;  /* Add padding */
    border-radius: 8px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    box-sizing: border-box;  /* Ensure padding is included in the total size */
  }
  
  .checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    left: 50%;  
    top: 45%;   
    width: 7px;
    height: 14px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    transform: translate(-50%, -50%) rotate(var(--r, 20deg));
    opacity: var(--o, 0);
  }
  
  .checkbox-wrapper-13 input[type=checkbox]:checked {
    --b: var(--checked-background);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    --o: 1;
    --r: 43deg;
  }
  
  .checkbox-wrapper-13 input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  
  .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  
  .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  
  .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  
  .checkbox-wrapper-13 input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  
  .checkbox-wrapper-13 input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }
  
  .checkbox-wrapper-13 * {
    box-sizing: inherit;
  }
  
  .checkbox-wrapper-13 *:before,
  .checkbox-wrapper-13 *:after {
    box-sizing: inherit;
  }
}
/* BODY COMPONENT */

/* FOOTER COMPONENT */
.footer-section{
  position: fixed;
  bottom: 1.2%;
  left: 19%;
  border: 1px solid;
  width: 60%;           /*Changes to be rechecked */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0.3rem;
}
input[type="text"]{
  border: none;
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
  padding: 0.8rem 1.2rem;
  width: 90%;
  background: transparent;
}
input:focus{
  outline: none;
}
button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
  background-color: #e19f69;
}
.arrow-icon{
  width: 30px;
  transform: rotate(90deg);
}
@media screen and (max-width: 500px) {
  .footer-section {
    width: 83%;
    left: 8.5%;
    padding: 0.3rem;
  }
  input[type="text"]{
    font-size: 1.1rem;
    padding: 0.4rem 1rem;
    width: 90%;
    background: transparent;
  }
}

